* {
  margin: 0;
  padding: 0;
}

.headerInicial{
  background-color: #707070;
  margin: 0;
  height: 20vh;
  padding-top: 2vw;
}
.textHeader {
  text-align: center;
}
.butHeader{
  display: flex;
  justify-content: space-around;
  margin-top: 2vw;
}

.butStyle {
  background-color: #FFFFFF;
  width: 160px;
  height: 40px;
}
